---
import {
  FaArrowRight,
  FaCheck,
  FaGithub,
  FaGitlab,
  FaIntercom,
  FaLinkedin,
  FaNode,
} from 'react-icons/fa';
import Badge from '../components/Badge.astro';
import TimeLine from '../components/TimeLine.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import { RiReactjsFill, RiTailwindCssFill } from 'react-icons/ri';
import {
  SiExpress,
  SiFormik,
  SiGit,
  SiMysql,
  SiNestjs,
  SiNodedotjs,
  SiPostman,
  SiRedux,
  SiTypeorm,
} from 'react-icons/si';
import { MdToken } from 'react-icons/md';
import { FaA } from 'react-icons/fa6';
import { DiPostgresql } from 'react-icons/di';
import Footer from '../components/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section class="w-full px-4 lg:px-0 relative lg:w-[940px] mx-auto pt-20">
    <img
      src="/public/logo.jpg"
      alt="logo"
      class="size-42 rounded-2xl mask-radial-[100%_100%] mask-radial-from-75% mask-radial-at-top"
    />
    <div
      class="flex items-center jusify-center gap-1 md:gap-2 mb-8 transation-transform cursor-pointer"
    >
      <h1 class="z-9999 text-2xl lg:text-4xl font-semibold">
        Hola, mi nombre es Anderson
      </h1>
      <Badge>Disponibilidad inmediata</Badge>
    </div>

    <div class="">
      <h2 class="text-md md:text-lg text-justify text-wrap b">
        Soy una persona apasionada por la tecnología y el desarrollo web,
        siempre comprometido con aprender y adaptarme a nuevas tecnologías que
        están a la vanguardia. Mi enfoque está en mejorar continuamente mis
        habilidades para implementar soluciones innovadoras que resuelvan
        problemas reales.
      </h2>
    </div>

    <nav class="mt-10 flex items-center gap-4">
      <a
        href="#"
        class="flex border rounded-2xl px-3 py-2 items-center gap-3 hover:scale-110 transition-transform cursor-pointer"
      >
        <FaGithub size={30} />
        <p class="text-xs md:text-lg">Github</p>
      </a>
      <a
        href="#"
        class="flex border rounded-2xl px-3 py-2 items-center gap-3 hover:scale-110 transition-transform cursor-pointer"
      >
        <FaGitlab size={30} />
        <p class="text-xs md:text-lg">GitLab</p>
      </a>

      <a
        href="https://www.linkedin.com/in/anderson-chulde-molina-36788a210"
        target="_blank"
        class="flex border rounded-2xl px-3 py-2 items-center gap-3 hover:scale-110 transition-transform cursor-pointer"
      >
        <FaLinkedin size={30} />
        <p class="text-xs md:text-lg">Linkedin</p>
      </a>
    </nav>
  </section>

  <section class="mt-20 lg:w-[940px] px-2 lg:px-0 mx-auto">
    <h2 class="text-3xl font-bold mb-10">Habilidades</h2>

    <div class="grid grid-cols-3 md:grid-cols-5 gap-4 cursor-pointer">
      <div
        class="flex items-center gap-2 border rounded-2xl px-2 py-1 hover:bg-gray-500/30 group"
      >
        <div class="group-hover:rotate-45 transition-transform">
          <RiReactjsFill color="" size={30} />
        </div>
        <p class="text-xs md:text-md">React</p>
      </div>

      <div
        class="flex items-center gap-2 border rounded-2xl px-2 py-1 hover:bg-gray-500/30 group"
      >
        <div class="group-hover:rotate-12 transition-transform">
          <RiTailwindCssFill color="" size={30} />
        </div>
        <p class="text-xs md:text-md">Tailwind</p>
      </div>

      <div
        class="flex items-center gap-2 border rounded-2xl px-2 py-1 hover:bg-gray-500/30 group"
      >
        <div class="group-hover:rotate-45 transition-transform">
          <SiRedux color="" size={30} />
        </div>
        <p class="text-xs md:text-md">Redux Toolkit</p>
      </div>

      <div
        class="flex items-center gap-2 border rounded-2xl px-2 py-1 hover:bg-gray-500/30 group"
      >
        <div class="group-hover:rotate-12 transition-transform">
          <SiNestjs color="" size={30} />
        </div>
        <p class="text-xs md:text-md">Nest.js</p>
      </div>

      <div
        class="flex items-center gap-2 border rounded-2xl px-2 py-1 hover:bg-gray-500/30 group"
      >
        <div class="group-hover:rotate-12 transition-transform">
          <SiNodedotjs color="" size={30} />
        </div>
        <p class="text-xs md:text-md">Node.js</p>
      </div>

      <div
        class="flex items-center gap-2 border rounded-2xl px-2 py-1 hover:bg-gray-500/30 group"
      >
        <div class="group-hover:rotate-12 transition-transform">
          <DiPostgresql color="" size={30} />
        </div>
        <p class="text-xs md:text-md">PostgreSQL</p>
      </div>

      <div
        class="flex items-center gap-2 border rounded-2xl px-2 py-1 hover:bg-gray-500/30 group"
      >
        <div class="group-hover:rotate-12 transition-transform">
          <SiTypeorm color="" size={30} />
        </div>
        <p class="text-xs md:text-md">TypeOrm</p>
      </div>

      <div
        class="flex items-center gap-2 border rounded-2xl px-2 py-1 hover:bg-gray-500/30 group"
      >
        <div class="group-hover:rotate-12 transition-transform">
          <SiExpress color="" size={30} />
        </div>
        <p class="text-xs md:text-md">Express</p>
      </div>

      <div
        class="flex items-center gap-2 border rounded-2xl px-2 py-1 hover:bg-gray-500/30 group"
      >
        <div class="group-hover:rotate-12 transition-transform">
          <SiFormik color="" size={30} />
        </div>
        <p class="text-xs md:text-md">Formik</p>
      </div>

      <div
        class="flex items-center gap-2 border rounded-2xl px-2 py-1 hover:bg-gray-500/30 group"
      >
        <div class="group-hover:rotate-12 transition-transform">
          <SiMysql color="" size={30} />
        </div>
        <p class="text-xs md:text-md">Mysql</p>
      </div>

      <div
        class="flex items-center gap-2 border rounded-2xl px-2 py-1 hover:bg-gray-500/30 group"
      >
        <div class="group-hover:rotate-12 transition-transform">
          <SiGit color="" size={30} />
        </div>
        <p class="text-xs md:text-md">Git</p>
      </div>

      <div
        class="flex items-center gap-2 border rounded-2xl px-2 py-1 hover:bg-gray-500/30 group"
      >
        <div class="group-hover:rotate-45 transition-transform">
          <SiPostman color="" size={30} />
        </div>
        <p class="text-xs md:text-md">Postman</p>
      </div>
    </div>
  </section>

  <section
    class="w-full lg:w-[940px] px-2 lg:px-0 mx-auto pt-20 transition-transform"
    id="proyectos"
  >
    <div class="justify-Center gap-4 mb-6">
      <div class="flex items-center gap-4">
        <h1 class="text-3xl font-bold">Proyectos</h1>
        <div class="border rounded-full bg-white p-1">
          <FaCheck color="black" size={16} />
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div
          class="bg-gradient-to-b from-black via-sky-950 to-gray-800 min-h-[400px] shadow-2xl hover:border hover:border-sky-500 p-2 rounded-2xl"
        >
          <div class="flex flex-col w-full">
            <img class="relative w-full h-68" src="/img/mascotas.png" alt="" />
            <h2 class="p-2 font-bold text-center uppercase">
              Registro y publicación de mascotas
            </h2>

            <p class="text-sm text-justify">
              Plataforma que busca conectar dueños de mascotas con personas
              interesadas en adoptar, ayudar o reportar mascotas perdidas o
              encontradas. Un sistema gratuito y accesible, es un proyecto con
              enfoque social que se encuentra en su primera fase. Cuenta con un
              perfil personal de usuario que le permita realizar sus
              publicaciones y tambien permite registrar y publicar negocios
              relacionados a mascotas.
            </p>
          </div>
          <div class="flex justify-center items-center mt-4 mb-4">
            <a
              href="https://perdimimascota.com"
              target="_blank"
              class="py-3 px-10 flex items-center gap-3 border hover:bg-black/30 rounded-2xl cursor-pointer"
            >
              <FaArrowRight size={16} />
              <p>Ir al proyecto</p></a
            >
          </div>
        </div>

        <div
          class="bg-gradient-to-b from-black via-sky-950 to-gray-800 min-h-[400px] shadow-2xl hover:border hover:border-sky-500 p-2 rounded-2xl"
        >
          <div class="flex flex-col w-full">
            <img class="relative w-full h-68" src="/img/iventory.png" alt="" />
            <h2 class="p-2 font-bold text-center uppercase">Inventario</h2>
            <p class="text-sm text-justify">
              Aplicación desarrollada para administrar un inventario de
              productos, con funcionalidades clave como gestión de clientes,
              proveedores, productos, compras, ventas, créditos, ajustes y
              movimientos de inventario.
            </p>

            <div class="mt-3">
              <p>Usuario: admin@gmail.com</p>
              <p>Contraseña: 123456</p>
            </div>
          </div>
          <div class="flex justify-center items-center mt-4 mb-4">
            <a
              href="https://front-snowy-phi.vercel.app/auth/signin"
              target="_blank"
              class="py-3 px-10 flex items-center gap-3 border hover:bg-black/30 rounded-2xl cursor-pointer"
            >
              <FaArrowRight size={16} />
              <p>Ir al proyecto</p></a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- <section class="w-full lg:w-[940px] mx-auto pt-40" id="experiencia">
      <h1 class="text-3xl font-bold mb-8">Experiencia</h1>
      <TimeLine />
    </section> -->
  </section>

  <section>
    <Footer />
  </section>
</Layout>
