<div class="max-w-[1120px] mx-auto p-20">
  <div class="flex gap-10">
    <a class="border-b rounded-2xl px-10" href="#proyectos">Proyectos</a><a
      class="border-b rounded-2xl px-10"
      href="">Experiencia</a
    >
  </div>
</div>
