<header class="flex justify-between p-10 w-auto lg:w-[1120px]">
  <div class="flex"></div>

  <nav class="flex gap-12">
    <a href="#proyectos">Proyectos</a>
    <a href="#experiencia">Experiencia</a>
  </nav>
</header>
