<header class="flex absolute justify-between p-10 w-auto lg:w-[1120px]">
  <div class="flex"></div>

  <nav class="flex gap-12 z-9999">
    <a class="underline underline-offset-1 cursor-pointer" href="#proyectos"
      >Proyectos</a
    >
    <a href="#experiencia">Experiencia</a>
  </nav>
</header>
